H1{font-size: 18px;}
.styled select {
    background: transparent;
    width: 213px;
    font-size: 15px;
    border: 1px solid #ccc;
    height: 34px;
}
.styled {
    margin: 5px 10px;
    vertical-align: middle;
    width: 200px;
    height: 34px;
    border: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
    background: url(http://www.stackoverflow.com/favicon.ico) 85% / 16% no-repeat #e4e11b;
    float: left;
}
input[type=submit] {
    margin: 20px 0;
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    padding:15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
pre{
    font-size: 10px;
}

body{
    font-family: arial;
    font-size: 12px;
}
table, th, td{
    border: 1px solid #bababa;
    border-collapse: collapse;
    padding: 2px 4px;
}
th{text-transform: uppercase; background-color: #d6d261; font-size: 12px; padding: 2px 6px}
td{font-size: 13px;}
pre{
    background-color: #efefef; padding:  8px 12px;
    margin: 0 10px;
    width: 50%;
}

tr:hover {
    background: rgba(216, 178, 0, 0.62) !important;
}